header.header
	.container
		a(href="#").logo
			img(src="../img/header/logo.png", alt="")
		nav.nav
			a(href="#").nav__item
				|About        
			a(href="#").nav__item
				|Download 
			a(href="#").nav__item
				|Workflow 
			a(href="#").nav__item
				|Support 
			a(href="#").nav__item
				|User Stories 
			a(href="#").nav__item
				|Contact

section.home
	.container
		.s-home__left
			.h1
				|Built with app designers in mind
			p.p.p--white
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.

			a(href="#").btn-link
				|How it work		

		.s-home__right
			img(src="../img/header/iphone.png", alt="").iphone
				
	