.payment
	background-color: #f1f1f1
	padding-top: 109px
	display: flex
	justify-content: space-between
	align-items: center


.pay
	max-width: 670px
	height: 520px
	margin-right: auto

	.h2
		max-width: 436px
		padding:
			top: 35px
			bottom: 49px


	.p
		max-width: 633px
		padding-bottom: 97px

.payment__btn
	width: 573px
	display: flex
	justify-content: space-between
