.workflow
	background-color: #f8f9f9
	padding-top: 100px

	.container
		display: flex
		justify-content: space-between


.workflow__info
	margin-right: auto
	max-width: 580px

	.h3
		padding-bottom: 28px

	.h4
		padding-bottom: 23px


.workflow__.phone
	position: absolute
	right: 0


.workflow__list
	padding-bottom: 116px


.workflow-link__item
	display: inline-block
	font-family: "Helvetica Neue"
	font-size: 18px
	font-weight: 700
	line-height: 20px
	color: $orange
	color: #343434
	margin-right: 50px


.workflow-link__item:last-child
	margin-right: 0

.hr 
	background-color: transparent


.workflow-link__item:hover
	font-family: "Helvetica Neue"
	font-size: 18px
	font-weight: 700
	line-height: 0
	color: $orange
	padding-bottom: 11px
	box-shadow: 0 5px $orange
	