doctype html
html(lang='ru')
	include components/_head
	body
		include components/_header

		main.content
			section.presentation
				.container
					span.text-gold
						|How it works
					h2.h2.h2--center.h2--lh36
						|Lorem ipsum is simply

					ul.presentation__list
						li.presentation__item
							img(src="../img/presentation/item-1.png", alt="")
							h5.h5
								|Lorem ipsum is simply dummy
							p.p
								|Lorem ipsum is simply dummy text of the printing and typesetting industry 	
						li.presentation__item
							img(src="../img/presentation/item-2.png", alt="")
							h5.h5
								|Lorem ipsum is simply dummy
							p.p
								|Lorem ipsum is simply dummy text of the printing and typesetting industry
						li.presentation__item
							img(src="../img/presentation/item-3.png", alt="")
							h5.h5
								|Lorem ipsum is simply dummy
							p.p
								|Lorem ipsum is simply dummy text of the printing and typesetting industry
						li.presentation__item
							img(src="../img/presentation/item-4.png", alt="")
							h5.h5
								|Lorem ipsum is simply dummy
							p.p
								|Lorem ipsum is simply dummy text of the printing and typesetting industry
						li.presentation__item
							img(src="../img/presentation/item-5.png", alt="")
							h5.h5
								|Lorem ipsum is simply dummy
							p.p
								|Lorem ipsum is simply dummy text of the printing and typesetting industry
						li.presentation__item
							img(src="../img/presentation/item-6.png", alt="")
							h5.h5
								|Lorem ipsum is simply dummy
							p.p
								|Lorem ipsum is simply dummy text of the printing and typesetting industry
				
			
			section.payment

				.phone
					img(src="../img/payment/iphone.png", alt="")
				.pay
					h2.h2.h2--lh40
						|Make & Share Payments with Community
					p.p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Lorem ipsum dolor sit amet.

					.payment__btn
						a(href="#").link__btn
							img(src="../img/payment/app-store.png", alt="")
						a(href="#").link__btn
							img(src="../img/payment/google-play.png", alt="")


			section.workflow
				.container
					.workflow__info
						h3.h3
							|Workflow
						nav.workflow__list
							a(href="#").workflow-link__item
								|Preview       
							a(href="#").workflow-link__item
								|Shipping 
							a(href="#").workflow-link__item
								|Payment 
							a(href="#").workflow-link__item
								|Complete

						h4.h4
							|Lorem ipsum is simply
						p.p
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.workflow__.phone
						img(src="../img/workflow/iphone.png", alt="")
				
		include components/_footer

